<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="IpGroup">
      <section name="ServerIp" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>
      </layout>
    </appender>
    <logger name="DataSubmittedLogger">
      <level value="All" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
  <IpGroup>
    <ServerIp>
      <add key="IP" value="172.16.2.45" />
      <add key="UserName" value="sa" />
      <add key="PassWord" value="tayh@2013" />
    </ServerIp>
  </IpGroup>
  <connectionStrings>
    <add name="DataSubmittedEntities" connectionString="metadata=res://*/DataSubmittedModel.csdl|res://*/DataSubmittedModel.ssdl|res://*/DataSubmittedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.2.65;initial catalog=DataSubmitted;persist security info=True;user id=sa;password=tayh@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Wttech.DataSubmitted.IBLL" />
    <namespace name="Wttech.DataSubmitted.BLL" />
    <assembly name="Wttech.DataSubmitted.IBLL" />
    <assembly name="Wttech.DataSubmitted.BLL" />
    <containers>
      <container name="defaultContainer">
        <!--<register type="命名空间.接口类型1,命名空间" mapTo="命名空间.实现类型1,命名空间" />-->
        <!--<register type="Wttech.DataSubmitted.IBLL.IUserManage,Wttech.DataSubmitted.IBLL" mapTo="Wttech.DataSubmitted.BLL.UserManage,Wttech.DataSubmitted.BLL" />-->
        <register type="IDataDictionary" mapTo="DataDictionary" />
        <register type="IUserManage" mapTo="UserManage" />
        <register type="INaturalTrafficStatistical" mapTo="NaturalTrafficStatistical" />
      </container>
    </containers>
  </unity>
</configuration>