<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DataSubmittedEntities" connectionString="metadata=res://*/DataSubmittedModel.csdl|res://*/DataSubmittedModel.ssdl|res://*/DataSubmittedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.2.107;initial catalog=DataSubmitted;persist security info=True;user id=sa;password=tayh@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DataSubmittedEntities" connectionString="metadata=res://*/DataSubmittedModel.csdl|res://*/DataSubmittedModel.ssdl|res://*/DataSubmittedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DataSubmitted;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--文件保存路径配置,绝对路径-->
    <add key="path" value="D:\sjbs\Wttech.DataSubmitted.Web\tmp" />
    <!--初始化密码-->
    <add key="StartPassword" value="96e79218965eb72c92a549dd5a3301" />

  </appSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <param name="File" value="Logs/Log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <param name="ConversionPattern" value="%newline %date：%-5level %message" />
        <!--"%date-线程:[%thread] 级别：%-5level - 描述：%message%newline" -->
      </layout>
    </appender>
    <logger name="DataSubmittedLogger">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/SystemManage/Login" timeout="525600" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="default.aspx" />
        <add value="SystemManage/Login" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Wttech.DataSubmitted.IBLL" />
    <namespace name="Wttech.DataSubmitted.BLL" />
    <assembly name="Wttech.DataSubmitted.IBLL" />
    <assembly name="Wttech.DataSubmitted.BLL" />
    <namespace name="Wttech.DataSubmitted.DAL" />
    <assembly name="Wttech.DataSubmitted.DAL" />
    <containers>
      <container name="defaultContainer">
        <!--<register type="命名空间.接口类型1,命名空间" mapTo="命名空间.实现类型1,命名空间" />-->
        <!--<register type="Wttech.DataSubmitted.IBLL.IUserManage,Wttech.DataSubmitted.IBLL" mapTo="Wttech.DataSubmitted.BLL.UserManage,Wttech.DataSubmitted.BLL" />-->
        <register type="DataSubmittedEntities" mapTo="DataSubmittedEntities" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IDataDictionary" mapTo="DataDictionary" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IUserManage" mapTo="UserManage" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.INaturalTrafficStatistical" mapTo="Report.NaturalTrafficStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IDataDailyTrafficStatistical" mapTo="Report.DataDailyTrafficStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="ILogManage" mapTo="LogManage" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReportRelated" mapTo="ReportRelated" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IHolidayConfig" mapTo="HolidayConfig" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IHDayTraStatistical" mapTo="Report.HDayTraStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IRoadRunSitStatistical" mapTo="Report.RoadRunSitStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IHdayExEnTrafficStatistical" mapTo="Report.HdayExEnTrafficStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IHDayAADTStatistical" mapTo="Report.HDayAADTStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.ICityDailyEnExStatistical" mapTo="Report.CityDailyEnExStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.ICityEnExStatistical" mapTo="Report.CityEnExStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IAADTAndTransCalcu" mapTo="Report.AADTAndTransCalcu" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IExportAllToZip" mapTo="ExportAllToZip" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IHourAADTStatistical" mapTo="Report.HourAADTStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IHDayExStatistical" mapTo="Report.HDayExStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
        <register type="IReport.IHDayStaExEnStatistical" mapTo="Report.HDayStaExEnStatistical" >
          <lifetime type="HierarchicalLifetimeManager" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>