
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>updatePassWord</title>
    <link href="~/Content/CSS/index/updatePassword.css" rel="stylesheet" />
</head>

<body>
    <div id="PassWordAlter2" style="margin:0; padding:0; overflow:hidden;">
        <form action="" id="addForm" method="post">
            <table class="pwd_window">
                <tr>
                    <th>原密码：</th>
                    <td><input id="oldpassword" type="password" class="txt" name="oldPassword" ></td>
                </tr>
                <tr>
                    <th>新密码：</th>
                    <td><input id="password" type="password" class="txt" name="newPassword" ></td>
                </tr>
                <tr>
                    <th>确认密码：</th>
                    <td><input type="password" class="txt" name="checkPassword" ></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
