@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
    Layout = null;
}

<script>
    alert("登录已超时请重新登录！");
    window.location = "/";
</script>
@*<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">登录已超时请重新登录！</h2>*@

