body,html {
    font-family:'Microsoft YaHei';
    margin:0;
    padding:0; 
    font-size:12px;
    font-weight:normal;
    overflow:hidden;
}
.pwd_window{margin:15px 15px 0;}
.pwd_window tr{height:30px;line-height:30px;width:100%;}
.pwd_window td{height:30px;line-height:30px;color:#5b626d; font-size:12px; text-align:left;}
.pwd_window th{height:30px;line-height:30px;color:#000; font-size:14px; font-weight:normal;text-align:right; width:100px;}
.txt{
	height:30px;
	line-height:30px;
    width:200px;
}
